.elementor-1831 .elementor-element.elementor-element-6697ea36>.elementor-container {
    max-width: 900px;
}

.elementor-1831 .elementor-element.elementor-element-6697ea36:not(.elementor-motion-effects-element-type-background),
.elementor-1831 .elementor-element.elementor-element-6697ea36>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
    background-image: url("assets/img/FAQ.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1831 .elementor-element.elementor-element-6697ea36>.elementor-background-overlay {
    background-color: var(--e-global-color-secondary);
    opacity: 0.64;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1831 .elementor-element.elementor-element-6697ea36 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -166px;
    margin-bottom: 0px;
    padding: 286px 0px 120px 0px;
}

.elementor-1831 .elementor-element.elementor-element-251626c7 {
    text-align: center;
}

.elementor-1831 .elementor-element.elementor-element-251626c7 .elementor-heading-title {
    color: var(--e-global-color-8c7e707);
}

.elementor-1831 .elementor-element.elementor-element-4a84dc0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1831 .elementor-element.elementor-element-4a84dc0 {
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-1831 .elementor-element.elementor-element-1dde72e.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-1831 .elementor-element.elementor-element-7316547a {
    text-align: left;
}

.elementor-1831 .elementor-element.elementor-element-7316547a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1831 .elementor-element.elementor-element-231d9564 {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-ca1da4c);
    --divider-border-width: 1px;
    --divider-icon-size: 24px;
    --divider-element-spacing: 24px;
}

.elementor-1831 .elementor-element.elementor-element-231d9564 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-1831 .elementor-element.elementor-element-231d9564 .elementor-divider {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.elementor-1831 .elementor-element.elementor-element-231d9564.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-231d9564.elementor-view-framed .elementor-icon,
.elementor-1831 .elementor-element.elementor-element-231d9564.elementor-view-default .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-231d9564.elementor-view-framed .elementor-icon,
.elementor-1831 .elementor-element.elementor-element-231d9564.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-231d9564 .elementor-icon i,
.elementor-1831 .elementor-element.elementor-element-231d9564 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-item {
    border-width: 1px;
    border-color: var(--e-global-color-ca1da4c);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-item .elementor-tab-content {
    border-width: 1px;
    border-top-color: var(--e-global-color-ca1da4c);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-item .elementor-tab-title.elementor-active {
    border-width: 1px;
    border-bottom-color: var(--e-global-color-ca1da4c);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-title {
    background-color: var(--e-global-color-8c7e707);
    padding: 24px 24px 24px 24px;
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-icon,
.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-title {
    color: var(--e-global-color-secondary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-active .elementor-accordion-icon,
.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-active .elementor-accordion-title {
    color: var(--e-global-color-secondary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-title {
    font-family: var(--e-global-typography-3a3b416-font-family), Sans-serif;
    font-size: var(--e-global-typography-3a3b416-font-size);
    font-weight: var(--e-global-typography-3a3b416-font-weight);
    text-transform: var(--e-global-typography-3a3b416-text-transform);
    font-style: var(--e-global-typography-3a3b416-font-style);
    text-decoration: var(--e-global-typography-3a3b416-text-decoration);
    line-height: var(--e-global-typography-3a3b416-line-height);
    letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
    word-spacing: var(--e-global-typography-3a3b416-word-spacing);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-title .elementor-accordion-icon i:before {
    color: var(--e-global-color-fb510bb);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-title .elementor-accordion-icon svg {
    fill: var(--e-global-color-fb510bb);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
    color: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-tab-content {
    background-color: var(--e-global-color-7a9c3ae);
    padding: 24px 24px 24px 24px;
}

.elementor-bc-flex-widget .elementor-1831 .elementor-element.elementor-element-726b25f.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1831 .elementor-element.elementor-element-726b25f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1831 .elementor-element.elementor-element-726b25f.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-1831 .elementor-element.elementor-element-726b25f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/img/FAQ 2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated,
.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated>.elementor-background-overlay,
.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 80px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 80px;
    padding: 20px 20px 20px 20px;
}

.elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1831 .elementor-element.elementor-element-ed6a5de {
    --spacer-size: 350px;
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: var(--e-global-color-8c7e707);
    color: var(--e-global-color-8c7e707);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed.elementor-view-framed .elementor-icon,
.elementor-1831 .elementor-element.elementor-element-f0d98ed.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-8c7e707);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed {
    --icon-box-icon-margin: 16px;
    width: auto;
    max-width: auto;
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon {
    font-size: 24px;
    padding: 12px;
    border-radius: 3px 3px 3px 3px;
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-accent);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title,
.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title a {
    font-family: var(--e-global-typography-8d544a7-font-family), Sans-serif;
    font-size: var(--e-global-typography-8d544a7-font-size);
    font-weight: var(--e-global-typography-8d544a7-font-weight);
    font-style: var(--e-global-typography-8d544a7-font-style);
    text-decoration: var(--e-global-typography-8d544a7-text-decoration);
    line-height: var(--e-global-typography-8d544a7-line-height);
    letter-spacing: var(--e-global-typography-8d544a7-letter-spacing);
    word-spacing: var(--e-global-typography-8d544a7-word-spacing);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-description {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-cb2f65a-font-family), Sans-serif;
    font-size: var(--e-global-typography-cb2f65a-font-size);
    font-weight: var(--e-global-typography-cb2f65a-font-weight);
    line-height: var(--e-global-typography-cb2f65a-line-height);
    letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
    word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
}

.elementor-1831 .elementor-element.elementor-element-f0d98ed>.elementor-widget-container {
    padding: 16px 20px 16px 20px;
    background-color: var(--e-global-color-8c7e707);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}

.elementor-1831 .elementor-element.elementor-element-3a907040 {
    margin-top: 100px;
    margin-bottom: 0px;
}

@media(max-width: 1024px) {
    .elementor-1831 .elementor-element.elementor-element-70a29909>.elementor-element-populated {
        padding: 0px 40px 0px 40px;
    }

    .elementor-1831 .elementor-element.elementor-element-4a84dc0 {
        padding: 0px 60px 0px 60px;
    }

    .elementor-1831 .elementor-element.elementor-element-1dde72e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1831 .elementor-element.elementor-element-7316547a {
        text-align: center;
    }

    .elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-title {
        font-size: var(--e-global-typography-3a3b416-font-size);
        line-height: var(--e-global-typography-3a3b416-line-height);
        letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
        word-spacing: var(--e-global-typography-3a3b416-word-spacing);
    }

    .elementor-1831 .elementor-element.elementor-element-726b25f.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated {
        margin: 60px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title,
    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title a {
        font-size: var(--e-global-typography-8d544a7-font-size);
        line-height: var(--e-global-typography-8d544a7-line-height);
        letter-spacing: var(--e-global-typography-8d544a7-letter-spacing);
        word-spacing: var(--e-global-typography-8d544a7-word-spacing);
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-description {
        font-size: var(--e-global-typography-cb2f65a-font-size);
        line-height: var(--e-global-typography-cb2f65a-line-height);
        letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
        word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
    }
}

@media(max-width: 767px) {
    .elementor-1831 .elementor-element.elementor-element-70a29909>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }

    .elementor-1831 .elementor-element.elementor-element-4a84dc0 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-1831 .elementor-element.elementor-element-1dde72e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }

    .elementor-1831 .elementor-element.elementor-element-1dff710c .elementor-accordion-title {
        font-size: var(--e-global-typography-3a3b416-font-size);
        line-height: var(--e-global-typography-3a3b416-line-height);
        letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
        word-spacing: var(--e-global-typography-3a3b416-word-spacing);
    }

    .elementor-1831 .elementor-element.elementor-element-726b25f>.elementor-element-populated {
        margin: 60px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title {
        margin-bottom: 0px;
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title,
    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-title a {
        font-size: var(--e-global-typography-8d544a7-font-size);
        line-height: var(--e-global-typography-8d544a7-line-height);
        letter-spacing: var(--e-global-typography-8d544a7-letter-spacing);
        word-spacing: var(--e-global-typography-8d544a7-word-spacing);
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed .elementor-icon-box-description {
        font-size: var(--e-global-typography-cb2f65a-font-size);
        line-height: var(--e-global-typography-cb2f65a-line-height);
        letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
        word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
    }

    .elementor-1831 .elementor-element.elementor-element-f0d98ed {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 768px) {
    .elementor-1831 .elementor-element.elementor-element-1dde72e {
        width: 46%;
    }

    .elementor-1831 .elementor-element.elementor-element-726b25f {
        width: 54%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-1831 .elementor-element.elementor-element-1dde72e {
        width: 100%;
    }

    .elementor-1831 .elementor-element.elementor-element-726b25f {
        width: 100%;
    }
}

@media(min-width: 1025px) {

    .elementor-1831 .elementor-element.elementor-element-6697ea36:not(.elementor-motion-effects-element-type-background),
    .elementor-1831 .elementor-element.elementor-element-6697ea36>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}