.elementor-94 .elementor-element.elementor-element-29b399b0>.elementor-container {
    max-width: 900px;
}

.elementor-94 .elementor-element.elementor-element-29b399b0:not(.elementor-motion-effects-element-type-background),
.elementor-94 .elementor-element.elementor-element-29b399b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-94 .elementor-element.elementor-element-29b399b0>.elementor-background-overlay {
    background-color: var(--e-global-color-secondary);
    opacity: 0.72;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-94 .elementor-element.elementor-element-29b399b0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -166px;
    margin-bottom: 0px;
    padding: 346px 0px 180px 0px;
}

.elementor-94 .elementor-element.elementor-element-9281f51 {
    text-align: center;
}

.elementor-94 .elementor-element.elementor-element-9281f51 .elementor-heading-title {
    color: var(--e-global-color-8c7e707);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(32px/2);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(32px/2);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(32px/2);
    margin-left: calc(32px/2);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-32px/2);
    margin-left: calc(-32px/2);
}

body.rtl .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-32px/2);
}

body:not(.rtl) .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-32px/2);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-icon i {
    color: var(--e-global-color-6d76acb);
    font-size: 14px;
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-6d76acb);
    --e-icon-list-icon-size: 14px;
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-icon {
    width: 14px;
}

body:not(.rtl) .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-text {
    padding-left: 4px;
}

body.rtl .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-text {
    padding-right: 4px;
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-text,
.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-text a {
    color: var(--e-global-color-0cbca66);
}

.elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
}

.elementor-94 .elementor-element.elementor-element-67c8725>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
}

.elementor-94 .elementor-element.elementor-element-bcc15bc {
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-94 .elementor-element.elementor-element-f0fc27a>.elementor-element-populated {
    margin: 0px 80px 0px 0px;
    --e-column-margin-right: 80px;
    --e-column-margin-left: 0px;
}

.elementor-94 .elementor-element.elementor-element-6bdc249 {
    text-align: left;
}

.elementor-94 .elementor-element.elementor-element-6bdc249>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-94 .elementor-element.elementor-element-8410fe7 {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-ca1da4c);
    --divider-border-width: 1px;
}

.elementor-94 .elementor-element.elementor-element-8410fe7 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-94 .elementor-element.elementor-element-8410fe7 .elementor-divider {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.elementor-94 .elementor-element.elementor-element-56aedaa .elementor-icon-list-icon i {
    color: var(--e-global-color-8ce4e46);
    font-size: 14px;
}

.elementor-94 .elementor-element.elementor-element-56aedaa .elementor-icon-list-icon svg {
    fill: var(--e-global-color-8ce4e46);
    --e-icon-list-icon-size: 14px;
}

.elementor-94 .elementor-element.elementor-element-56aedaa .elementor-icon-list-icon {
    width: 14px;
}

body:not(.rtl) .elementor-94 .elementor-element.elementor-element-56aedaa .elementor-icon-list-text {
    padding-left: 8px;
}

body.rtl .elementor-94 .elementor-element.elementor-element-56aedaa .elementor-icon-list-text {
    padding-right: 8px;
}

.elementor-94 .elementor-element.elementor-element-5628d7b {
    --alignment: center;
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
}

.elementor-94 .elementor-element.elementor-element-5628d7b .elementor-share-btn {
    font-size: calc(0.8px * 10);
}

.elementor-94 .elementor-element.elementor-element-5628d7b .elementor-share-btn__icon {
    --e-share-buttons-icon-size: 2em;
}

.elementor-94 .elementor-element.elementor-element-5628d7b>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-94 .elementor-element.elementor-element-08bceb7 {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-ca1da4c);
    --divider-border-width: 1px;
}

.elementor-94 .elementor-element.elementor-element-08bceb7 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-94 .elementor-element.elementor-element-08bceb7 .elementor-divider {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.elementor-94 .elementor-element.elementor-element-694f157 {
    text-align: center;
}

.elementor-94 .elementor-element.elementor-element-694f157>.elementor-widget-container {
    margin: 0px 0px 32px 0px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.66 * 100%);
}

.elementor-94 .elementor-element.elementor-element-8c69e66:after {
    content: "0.66";
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__meta-data span+span:before {
    content: "|";
}

.elementor-94 .elementor-element.elementor-element-8c69e66 {
    --grid-column-gap: 32px;
    --grid-row-gap: 40px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__thumbnail {
    border-radius: 4px 4px 4px 4px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 16px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 16px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 16px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title,
.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title a {
    font-family: var(--e-global-typography-3a3b416-font-family), Sans-serif;
    font-size: var(--e-global-typography-3a3b416-font-size);
    font-weight: var(--e-global-typography-3a3b416-font-weight);
    text-transform: var(--e-global-typography-3a3b416-text-transform);
    font-style: var(--e-global-typography-3a3b416-font-style);
    text-decoration: var(--e-global-typography-3a3b416-text-decoration);
    line-height: var(--e-global-typography-3a3b416-line-height);
    letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
    word-spacing: var(--e-global-typography-3a3b416-word-spacing);
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title {
    margin-bottom: 8px;
}

.elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__meta-data {
    color: var(--e-global-color-8ce4e46);
    font-family: var(--e-global-typography-cb2f65a-font-family), Sans-serif;
    font-size: var(--e-global-typography-cb2f65a-font-size);
    font-weight: var(--e-global-typography-cb2f65a-font-weight);
    line-height: var(--e-global-typography-cb2f65a-line-height);
    letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
    word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
}

.elementor-94 .elementor-element.elementor-element-b07bb49 {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-ca1da4c);
    --divider-border-width: 1px;
}

.elementor-94 .elementor-element.elementor-element-b07bb49 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-94 .elementor-element.elementor-element-b07bb49 .elementor-divider {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.elementor-94 .elementor-element.elementor-element-f144e7a>.elementor-widget-container {
    margin: 24px 0px 0px 0px;
}

.elementor-94 .elementor-element.elementor-element-6e7b4c8 {
    margin-top: 80px;
    margin-bottom: 0px;
}

@media(max-width:1024px) {
    .elementor-94 .elementor-element.elementor-element-29560313>.elementor-element-populated {
        padding: 0px 40px 0px 40px;
    }

    .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-item {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-f0fc27a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 40px 0px 40px;
    }

    .elementor-94 .elementor-element.elementor-element-5628d7b {
        --alignment: center;
    }

    .elementor-94 .elementor-element.elementor-element-5628d7b {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 {
        --grid-column-gap: 20px;
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title,
    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title a {
        font-size: var(--e-global-typography-3a3b416-font-size);
        line-height: var(--e-global-typography-3a3b416-line-height);
        letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
        word-spacing: var(--e-global-typography-3a3b416-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__meta-data {
        font-size: var(--e-global-typography-cb2f65a-font-size);
        line-height: var(--e-global-typography-cb2f65a-line-height);
        letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
        word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-6dba778>.elementor-element-populated {
        padding: 60px 60px 60px 60px;
    }

    .elementor-94 .elementor-element.elementor-element-6e7b4c8 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .elementor-94 .elementor-element.elementor-element-29b399b0 {
        padding: 266px 0px 130px 0px;
    }

    .elementor-94 .elementor-element.elementor-element-29560313>.elementor-element-populated {
        padding: 0px 12px 0px 12px;
    }

    .elementor-94 .elementor-element.elementor-element-67c8725 .elementor-icon-list-item {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-f0fc27a>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }

    .elementor-94 .elementor-element.elementor-element-5628d7b {
        --grid-side-margin: 10px;
        --grid-column-gap: 10px;
        --grid-row-gap: 10px;
        --grid-bottom-margin: 10px;
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.66 * 100%);
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66:after {
        content: "0.66";
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__thumbnail__link {
        width: 100%;
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title,
    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__title a {
        font-size: var(--e-global-typography-3a3b416-font-size);
        line-height: var(--e-global-typography-3a3b416-line-height);
        letter-spacing: var(--e-global-typography-3a3b416-letter-spacing);
        word-spacing: var(--e-global-typography-3a3b416-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-8c69e66 .elementor-post__meta-data {
        font-size: var(--e-global-typography-cb2f65a-font-size);
        line-height: var(--e-global-typography-cb2f65a-line-height);
        letter-spacing: var(--e-global-typography-cb2f65a-letter-spacing);
        word-spacing: var(--e-global-typography-cb2f65a-word-spacing);
    }

    .elementor-94 .elementor-element.elementor-element-6dba778>.elementor-element-populated {
        padding: 40px 16px 20px 16px;
    }

    .elementor-94 .elementor-element.elementor-element-6e7b4c8 {
        margin-top: 40px;
        margin-bottom: 0px;
    }
}

@media(min-width:768px) {
    .elementor-94 .elementor-element.elementor-element-f0fc27a {
        width: 70%;
    }

    .elementor-94 .elementor-element.elementor-element-6dba778 {
        width: 29.333%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-94 .elementor-element.elementor-element-f0fc27a {
        width: 100%;
    }

    .elementor-94 .elementor-element.elementor-element-6dba778 {
        width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-94 .elementor-element.elementor-element-29b399b0:not(.elementor-motion-effects-element-type-background),
    .elementor-94 .elementor-element.elementor-element-29b399b0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}