.elementor-2979 .elementor-element.elementor-element-24428952:not(.elementor-motion-effects-element-type-background),
.elementor-2979 .elementor-element.elementor-element-24428952>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/img/Privacy Policy.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2979 .elementor-element.elementor-element-24428952 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -166px;
    margin-bottom: 0px;
    padding: 286px 0px 120px 0px;
}

.elementor-2979 .elementor-element.elementor-element-24428952>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2979 .elementor-element.elementor-element-685591fd {
    text-align: center;
}

.elementor-2979 .elementor-element.elementor-element-685591fd .elementor-heading-title {
    color: var(--e-global-color-8c7e707);
}

.elementor-2979 .elementor-element.elementor-element-851048f>.elementor-container {
    max-width: 980px;
}

.elementor-2979 .elementor-element.elementor-element-851048f {
    margin-top: 80px;
    margin-bottom: 80px;
}

.elementor-2979 .elementor-element.elementor-element-9c566db>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-7d56a18>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-804c6ba>.elementor-widget-container {
    margin: 0px 0px 39px 0px;
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-icon i {
    color: var(--e-global-color-8ce4e46);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-8ce4e46);
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 {
    --e-icon-list-icon-size: 8px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
}

.elementor-2979 .elementor-element.elementor-element-165f1f1 .elementor-icon-list-text {
    padding-left: 8px;
}

.elementor-2979 .elementor-element.elementor-element-165f1f1>.elementor-widget-container {
    margin: 0px 0px 48px 24px;
}

.elementor-2979 .elementor-element.elementor-element-ba6bbab>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-348b344>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-3970049>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-32420a0>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-24c732f>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-45ffcad>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-ab632de>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-5ba8971>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-74a87f5>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-fbe0efb>.elementor-widget-container {
    margin: 0px 0px 48px 0px;
}

.elementor-2979 .elementor-element.elementor-element-8970ea4>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-2979 .elementor-element.elementor-element-401d358>.elementor-widget-container {
    margin: 0px 0px 12px 24px;
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-icon i {
    color: var(--e-global-color-8ce4e46);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-icon svg {
    fill: var(--e-global-color-8ce4e46);
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d {
    --e-icon-list-icon-size: 8px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d .elementor-icon-list-text {
    padding-left: 8px;
}

.elementor-2979 .elementor-element.elementor-element-2eaf61d>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
}

@media(max-width: 1024px) {
    .elementor-2979 .elementor-element.elementor-element-1b2ecfa0>.elementor-element-populated {
        padding: 0px 40px 0px 40px;
    }

    .elementor-2979 .elementor-element.elementor-element-851048f {
        padding: 0px 40px 0px 40px;
    }
}

@media(max-width: 767px) {
    .elementor-2979 .elementor-element.elementor-element-1b2ecfa0>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }

    .elementor-2979 .elementor-element.elementor-element-851048f {
        padding: 0px 20px 0px 20px;
    }
}