.elementor-967 .elementor-element.elementor-element-34febe7d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-967 .elementor-element.elementor-element-1d716050>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-967 .elementor-element.elementor-element-78893177:not(.elementor-motion-effects-element-type-background),
.elementor-967 .elementor-element.elementor-element-78893177>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-7a9c3ae);
}

.elementor-967 .elementor-element.elementor-element-78893177,
.elementor-967 .elementor-element.elementor-element-78893177>.elementor-background-overlay {
    border-radius: 6px 6px 6px 6px;
}

.elementor-967 .elementor-element.elementor-element-78893177 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 24px 40px 24px;
}

.elementor-967 .elementor-element.elementor-element-78893177>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-967 .elementor-element.elementor-element-8b47d31>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-967 .elementor-element.elementor-element-5e685be1 {
    text-align: center;
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-fb510bb);
    --divider-border-width: 1px;
    --divider-icon-size: 16px;
    --divider-element-spacing: 24px;
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac .elementor-divider {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac.elementor-view-framed .elementor-icon,
.elementor-967 .elementor-element.elementor-element-3dbc7cac.elementor-view-default .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac.elementor-view-framed .elementor-icon,
.elementor-967 .elementor-element.elementor-element-3dbc7cac.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-3dbc7cac .elementor-icon i,
.elementor-967 .elementor-element.elementor-element-3dbc7cac .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-group {
    padding-right: calc(24px/2);
    padding-left: calc(24px/2);
    margin-bottom: 24px;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-form-fields-wrapper {
    margin-left: calc(-24px/2);
    margin-right: calc(-24px/2);
    margin-bottom: -24px;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-967 .elementor-element.elementor-element-325f325b .elementor-labels-inline .elementor-field-group>label {
    padding-left: 8px;
}

body:not(.rtl) .elementor-967 .elementor-element.elementor-element-325f325b .elementor-labels-inline .elementor-field-group>label {
    padding-right: 8px;
}

body .elementor-967 .elementor-element.elementor-element-325f325b .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 8px;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-967 .elementor-element.elementor-element-325f325b .elementor-message {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
}

.elementor-967 .elementor-element.elementor-element-325f325b {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-967 .elementor-element.elementor-element-151f9bac.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: var(--e-global-color-8c7e707);
    color: var(--e-global-color-8c7e707);
}

.elementor-967 .elementor-element.elementor-element-151f9bac.elementor-view-framed .elementor-icon,
.elementor-967 .elementor-element.elementor-element-151f9bac.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-151f9bac.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-8c7e707);
}

.elementor-967 .elementor-element.elementor-element-151f9bac {
    --icon-box-icon-margin: 16px;
}

.elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon {
    font-size: 24px;
    padding: 12px;
    border-radius: 3px 3px 3px 3px;
}

.elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-accent);
}

.elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon-box-description {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
}

.elementor-967 .elementor-element.elementor-element-151f9bac>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
    padding: 16px 20px 16px 20px;
    background-color: var(--e-global-color-8c7e707);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}

.elementor-967 .elementor-element.elementor-element-2da9f3fa:not(.elementor-motion-effects-element-type-background),
.elementor-967 .elementor-element.elementor-element-2da9f3fa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-7a9c3ae);
}

.elementor-967 .elementor-element.elementor-element-2da9f3fa,
.elementor-967 .elementor-element.elementor-element-2da9f3fa>.elementor-background-overlay {
    border-radius: 6px 6px 6px 6px;
}

.elementor-967 .elementor-element.elementor-element-2da9f3fa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 40px 24px 40px 24px;
}

.elementor-967 .elementor-element.elementor-element-2da9f3fa>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-967 .elementor-element.elementor-element-3be85eda>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-967 .elementor-element.elementor-element-53e440ea {
    text-align: center;
}

.elementor-967 .elementor-element.elementor-element-1f71271e {
    --divider-border-style: dashed;
    --divider-color: var(--e-global-color-fb510bb);
    --divider-border-width: 1px;
    --divider-icon-size: 16px;
    --divider-element-spacing: 24px;
}

.elementor-967 .elementor-element.elementor-element-1f71271e .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-967 .elementor-element.elementor-element-1f71271e .elementor-divider {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.elementor-967 .elementor-element.elementor-element-1f71271e.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-1f71271e.elementor-view-framed .elementor-icon,
.elementor-967 .elementor-element.elementor-element-1f71271e.elementor-view-default .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-1f71271e.elementor-view-framed .elementor-icon,
.elementor-967 .elementor-element.elementor-element-1f71271e.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-1f71271e .elementor-icon i,
.elementor-967 .elementor-element.elementor-element-1f71271e .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-menu-toggle {
    color: var(--e-global-color-secondary);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown {
    background-color: var(--e-global-color-e32fc46);
    border-radius: 4px 4px 4px 4px;
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a:hover,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a.highlighted,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-menu-toggle:hover {
    color: var(--e-global-color-8c7e707);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a:hover,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var(--e-global-color-8c7e707);
    background-color: var(--e-global-color-primary);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-item,
.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    letter-spacing: var(--e-global-typography-text-letter-spacing);
    word-spacing: var(--e-global-typography-text-word-spacing);
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown a {
    padding-top: 12px;
    padding-bottom: 12px;
}

@media(max-width:1024px) {
    .elementor-967 .elementor-element.elementor-element-34febe7d {
        padding: 0px 0px 0px 0px;
    }

    .elementor-967 .elementor-element.elementor-element-1d716050>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-967 .elementor-element.elementor-element-325f325b .elementor-message {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-967 .elementor-element.elementor-element-34febe7d {
        padding: 0px 0px 0px 0px;
    }

    .elementor-967 .elementor-element.elementor-element-1d716050>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-967 .elementor-element.elementor-element-78893177 {
        padding: 40px 16px 40px 16px;
    }

    .elementor-967 .elementor-element.elementor-element-325f325b .elementor-message {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-967 .elementor-element.elementor-element-151f9bac {
        --icon-box-icon-margin: 8px;
    }

    .elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon {
        font-size: 16px;
    }

    .elementor-967 .elementor-element.elementor-element-151f9bac .elementor-icon-box-description {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }

    .elementor-967 .elementor-element.elementor-element-2da9f3fa {
        padding: 40px 16px 40px 16px;
    }

    .elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-967 .elementor-element.elementor-element-1897e841 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var(--e-global-typography-text-font-size);
        letter-spacing: var(--e-global-typography-text-letter-spacing);
        word-spacing: var(--e-global-typography-text-word-spacing);
    }
}